.oh-card-square {
    @extend .mdl-card;
    @extend .mdl-shadow--2dp;

    margin: 15px;
    width: calc(25% - 30px);
    transition: box-shadow .2s;

    &:hover,
    &:active,
    &:focus {
        @extend .mdl-shadow--16dp;
    }

    .mdl-card__tile {
        background-size: cover;
    }
}
