<div class="oh-drawer mdl-layout__drawer">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Demo</a>
            <a class="mdl-navigation__link" href="">Blog</a>
            <a class="mdl-navigation__link" href="">Docs</a>
            <a class="mdl-navigation__link" href="">Download</a>
            <div class="oh-drawer-separator"></div>
            <span class="mdl-navigation__link" href="">For developers</span>
            <a class="mdl-navigation__link" href="">Something</a>
            <a class="mdl-navigation__link" href="">Something</a>
            <a class="mdl-navigation__link" href="">Something</a>
        </nav>
    </div>