<!-- FOOTER NAV: DOCUMENTATION -->
<footer class="oh-footer-nav mdl-grid">
    <a href=".." title="Article name" class="md-flex oh-footer-nav__link oh-footer-nav__link--prev" rel="prev">
        <i class="material-icons">keyboard_arrow_left</i>
        <div class="oh-footer-nav__title">
            <span class="oh-footer-nav__direction">
              Previous
            </span> Article name
        </div>
    </a>

    <a href=".." title="Article name" class="md-flex oh-footer-nav__link oh-footer-nav__link--next" rel="next">
        <div class="oh-footer-nav__title">
            <span class="oh-footer-nav__direction">
              Next
            </span> Article name
        </div>
        <i class="material-icons">keyboard_arrow_right</i>
    </a>
</footer>