body {
  margin: 0;
  --deep-orange-700: #e64a19;
  --deep-orange-500: #ff5722;
  --blue-500: #2196f3;
  --muted-gray: #767777;
}

a img {
  border: 0px;
}

::-moz-selection {
  background-color: var(--deep-orange-500);
  color: #fff;
}

::selection {
  background-color: var(--deep-orange-500);
  color: #fff;
}

.oh-content.oh-content__page {
  background-color: rgb(243, 243, 243);
}