.oh-footer-nav {
  background-color: rgb(66,66,66);
  padding: 16px 30px;

  &__link {
    width: 50%;
    padding-top: 1rem;
    padding-bottom: .8rem;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    color: #fff;
    text-decoration: none;
    display: table;

    &:hover {
      opacity: .8;
    }

    &--prev {
      float: left;
    }

    &--next {
      float: right;
      text-align: right;
      box-shadow: inset 1px 0 0 rgba(255,255,255,.2);
    }

    i {
      font-size: 3em;
      display: table-cell;
      vertical-align: top;
      width: 0;
      position: relative;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.4em;
    width: 100%;
    display: table-cell;
  }

  &__direction {
    display: block;
    font-size: initial;
    font-weight: 300;
  }
}

.oh-footer-dashboard {
  .mdl-menu li {
    margin-right: 0;

    a {
      color: initial;
    }
  }
}

.oh-footer {
  @extend .mdl-mega-footer;
  background-color: rgba(0,0,0,.87);
  position: relative;
}

.oh-footer > div {
  @extend .mdl-mega-footer--top-section;
}

.oh-footer a:hover {
  color: var(--deep-orange-700);
}

.oh-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}

.oh-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}

.oh-footer .mdl-mega-footer--bottom-section {
  position: relative;

  @media (max-width: 900px) {
    display: none;
  }
}

.oh-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

.oh-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}

.oh-link-menu:hover {
  cursor: pointer;
}

.oh-footer .oh-footer__social {
  @extend .mdl-mega-footer--left-section;

  a {
    @extend .mdl-mega-footer--social-btn;
    font-size: 1.625em;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    width: 40px;
    height: 30px;
    line-height: 33px;
    display: inline-block;

    &:hover {
      background-color: var(--deep-orange-700);
    }

    i {
      color: #fff;
    }
  }
}

.oh-footer .oh-footer__top {
  @extend .mdl-mega-footer--right-section;

  > a {
    @extend .mdl-typography--font-light;
  }
}

.oh-footer .oh-footer__links {
  @extend .mdl-mega-footer--middle-section;

  > div {
    @extend .mdl-mega-footer--drop-down-section;

    input[type="checkbox"] {
      @extend .mdl-mega-footer--heading-checkbox;
    }

    h1 {
      @extend .mdl-mega-footer--heading;
    }

    ul {
      @extend .mdl-mega-footer--link-list;
    }
  }
}

.oh-footer .oh-footer__copy {
  @extend .mdl-mega-footer--bottom-section;
}

.oh-footer .oh-footer__copy p {
  font-size: .8650em;
  opacity: .8;

  a {
    color: inherit;
    margin: 0;
  }
}

.oh-footer .oh-footer__copy > hr {
  opacity: .05;
}
